.*.swp
doc
tags
build
target
ctags.rust
*.csv*
*.tsv*
main
*.idx
builds
.vscode/launch.json
*.xls
*.xlsx
*.zip
.DS_store
.DS_Store
src/.DS_Store
*.txt
*.svg
perf.data*
*.json
*.log
*.log.gz
*.jsonl
*.bak
*.code-workspace
tmp/*
*.icloud
*.parquet
*.rsbak
*.luau
*.png
