[package]
name          = "qsv"
version       = "0.75.0"                                                                       #:version
authors       = ["Joel Natividad <joel@datHere.com>"]
description   = "A high performance CSV data-wrangling toolkit."
documentation = "https://github.com/jqnatividad/qsv#qsv-ultra-fast-csv-data-wrangling-toolkit"
homepage      = "https://github.com/jqnatividad/qsv#qsv-ultra-fast-csv-data-wrangling-toolkit"
repository    = "https://github.com/jqnatividad/qsv"
readme        = "README.md"
keywords      = ["csv", "geocode", "data-engineering", "etl", "opendata"]
categories    = ["command-line-utilities", "parser-implementations"]
license       = "MIT OR Unlicense"
autotests     = false
edition       = "2021"
rust-version  = "1.65"
autobins      = false
include       = ["src/**/*", "LICENSE-MIT", "README.md", "CHANGELOG.md"]

[[bin]]
name              = "qsv"
test              = true
bench             = false
doctest           = false
path              = "src/main.rs"
required-features = ["full"]

[[bin]]
name              = "qsvlite"
test              = true
bench             = false
doctest           = false
path              = "src/mainlite.rs"
required-features = ["lite"]

[[bin]]
name              = "qsvdp"
test              = true
bench             = false
doctest           = false
path              = "src/maindp.rs"
required-features = ["datapusher_plus"]

[[test]]
name = "tests"
path = "tests/tests.rs"

[profile.release]
codegen-units = 1
debug         = false
lto           = true
opt-level     = 3
strip         = true

[profile.release-nightly]
inherits = "release"
panic    = "abort"

[profile.test]
opt-level = 3

[dependencies]
ahash = "0.8"
byteorder = "1.4"
cached = { version = "0.40", default-features = false, features = [
    "proc_macro",
    "redis_ahash",
], optional = true }
calamine = { version = "0.19", features = ["dates"] }
censor = { version = "0.3", optional = true }
console = { version = "0.15", optional = true }
cpc = { version = "1.8", optional = true }
crossbeam-channel = "0.5"
csv = "1.1"
csv-core = "0.1"
csv-index = "0.1"
data-encoding = { version = "2.3", optional = true }
docopt = "1"
dynfmt = { version = "0.1", default-features = false, features = [
    "curly",
], optional = true }
eudex = { version = "0.1", optional = true }
ext-sort = { version = "0.1", features = [
    "memory-limit",
], default-features = false }
filetime = "0.2"
flexi_logger = { version = "0.24", features = [
    "compress",
], default-features = false }
governor = { version = "0.5", optional = true }
grex = { version = "1.4", default-features = false }
hashbrown = { version = "0.13", optional = true }
indicatif = "0.17"
itertools = "0.10"
itoa = "1"
jsonschema = { version = "0.16", features = [
    "resolve-file",
    "resolve-http",
], default-features = false }
jsonxf = { version = "1", optional = true }
jql = { version = "5.1", default-features = false, optional = true }
log = "0.4"
mimalloc = { version = "0.1", default-features = false, optional = true }
mlua = { version = "0.8", features = ["luau"], optional = true }
num_cpus = "1"
once_cell = { version = "1.16", features = ["parking_lot"] }
parking_lot = { version = "0.12", features = ["hardware-lock-elision"] }
pyo3 = { version = "0.17", features = ["auto-initialize"], optional = true }
qsv-dateparser = "0.4"
qsv-stats = "0.4"
qsv_currency = { version = "0.5", optional = true }
qsv-sniffer = { version = "0.5", features = ["runtime-dispatch-simd"] }
rand = "0.8"
rayon = "1.6"
redis = { version = "0.22", features = [
    "ahash",
], default-features = false, optional = true }
regex = "1"
reqwest = { version = "0.11", features = [
    "blocking",
    "brotli",
    "cookies",
    "deflate",
    "gzip",
    "rustls-tls",
], default-features = false }
reverse_geocoder = { version = "3", optional = true }
rust_decimal = "1.27"
ryu = "1"
self_update = { version = "0.32", features = [
    "archive-zip",
    "compression-zip-deflate",
    "rustls",
], default-features = false, optional = true }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["preserve_order"] }
strsim = { version = "0.10", optional = true }
strum = { version = "0.24", optional = true }
strum_macros = { version = "0.24", optional = true }
sysinfo = "0.26"
tabwriter = "1.2"
tempfile = "3"
test-data-generation = { version = "0.3", optional = true }
thousands = "0.2"
threadpool = "1.8"
titlecase = { version = "2", optional = true }
uuid = { version = "1", features = ["v4"] }
url = { version = "2.3", optional = true }
vader_sentiment = { version = "0.1", optional = true }
whatlang = { version = "0.16", optional = true }

[dev-dependencies]
actix-governor = "0.3"
actix-web = { version = "4.2", default-features = false, features = [
    "compress-brotli",
    "compress-gzip",
] }
assert-json-diff = "2.0"
newline-converter = "0.2"
quickcheck = { version = "1", default-features = false }
serial_test = "0.9"

[patch.crates-io]
csv       = { git = "https://github.com/jqnatividad/rust-csv", branch = "perf-tweaks" }
csv-core  = { git = "https://github.com/jqnatividad/rust-csv", branch = "perf-tweaks" }
csv-index = { git = "https://github.com/jqnatividad/rust-csv", branch = "perf-tweaks" }
docopt    = { git = "https://github.com/jqnatividad/docopt.rs", branch = "perf-clippy-2021" }
ext-sort  = { git = "https://github.com/jqnatividad/ext-sort-rs", branch = "perf-tweaks" }
tabwriter = { git = "https://github.com/jqnatividad/tabwriter", branch = "tweaks" }

[features]
default = ["mimalloc", "apply", "fetch", "full"]
all_full = [
    "full",
    "apply",
    "fetch",
    "foreach",
    "generate",
    "luau",
    "python",
    "self_update",
]
apply = [
    "cached",
    "censor",
    "cpc",
    "data-encoding",
    "dynfmt",
    "eudex",
    "hashbrown",
    "qsv_currency",
    "reverse_geocoder",
    "strsim",
    "strum",
    "strum_macros",
    "titlecase",
    "vader_sentiment",
    "whatlang",
]
fetch = [
    "cached",
    "console",
    "dynfmt",
    "governor",
    "hashbrown",
    "jql",
    "jsonxf",
    "redis",
    "url",
]
foreach = []
generate = ["test-data-generation"]
luau = ["mlua"]
python = ["pyo3"]
lite = []
datapusher_plus = ["luau", "self_update"]
full = []
nightly = [
    "regex/unstable",
    "rand/nightly",
    "rand/simd_support",
    "parking_lot/nightly",
    "pyo3/nightly",
    "hashbrown/nightly",
]
